<div class="contenedor">
    <form action="/login" method="POST" class="default-form">
        <div class="campo">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Your Email" required>
        </div>
        <div class="campo">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Your password" required>
        </div>
        <div class="campo acciones">
            <a href="/register">Register</a>
            <a href="/recovery">Password Recovery</a>
        </div>
        <div class="campo"><input type="submit" value="Login" class="btn btn-azul"></div>
    </form>
</div>